// Custom styles.
body{
	/*background:rgb(252, 243, 202);*/
	background-image:url(/images/road.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:100% 100%;
	font-size:18px;
	color:rgb(78, 52, 46) !important
}
.posts-expand .post-title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-bottom:10px;
    font-family: Georgia, Times, "Times New Roman", serif !important;
	border-bottom:2px solid rgba(68, 68, 68, 0.2);
	text-align:left;
}
ul {
    list-style-type: disc;
}
.page-home .posts-expand .post-title{
	padding-bottom:0px;
}
.page-home #posts.posts-expand .post-meta{
	margin-bottom:5px;
}
#posts.posts-expand .post-meta{
	margin-bottom:30px;
}
.posts-expand .post-title-link::before{
	background:transparent;
}
.post-more-link.text-center{
	display:none;
}
.posts-expand div.post-eof{
	margin:30px auto;
}
.posts-expand .post-meta{
	text-align:left;
}
.header-inner,.sidebar-inner{
	background:rgba(255,252,239,0.99);
}
.header-inner li.menu-item-active a,.header-inner li.menu-item-active a:hover{
	background:rgba(241, 231, 186, 0.99);
}
.powered-by,.theme-info{
	display:none;
}
.menu .menu-item a:hover, .menu-item-active a{
	background:rgba(241, 231, 186, 0.99);
}
#main{
	
}
.content-wrap{
	background:rgba(255, 252, 239, 0.99);
	font-family:'Book Antiqua','Source Sans Pro', sans-serif;
	box-shadow:rgba(0, 0, 0, 0.09) 0px 8px 16px 0px;
	border-radius:0px 0px 0px 0px;
	width:800px;
}
.header{
	width:1060px;
}
.container .main-inner{
	width:1060px;
}
.post-body{
	font-family:'Book Antiqua','Source Sans Pro', sans-serif;
}

#local-search-input{
   display:block;
   margin:10px;
   padding:3px;
   width:200px;
   border:1px solid #999;
   font-size:16px;
}

#search-form{
   position:relative;
}
#search-form>.fa.fa-times{
   position:absolute;
   top:8px;
   right:25px;
}


/*搜索结果区*/
#local-search-result {
  margin: auto;
  font-size: 0.9em;
  text-align: left;
  word-break: break-all;
}

#local-search-result ul.search-result-list li:hover {
  font-weight: normal;
}

/*单条搜索结果*/
#local-search-result li {
  margin: 0.5em auto;
  border-bottom: 2px solid #d3d3d3;
}

/*匹配的标题*/
#local-search-result a.search-result-title {
  line-height: 1.2;
  font-weight: bold;
  color: #555;
}

/*搜索预览段落*/
#local-search-result p.search-result {
  margin: 0.4em auto;
  line-height: 1.8em;
  max-height: 5em;
  overflow: hidden;
  font-size: 0.8em;
  text-align: justify;
  color: #808080;
}

/*匹配的关键词*/
#local-search-result em.search-keyword {
  color: #c64747;
  border-bottom: 1px dashed #c64747;
}

/*无匹配搜索结果时显示*/
p.no-result {
  display: none;
  margin: 2em 0 2em 6%;
  padding-bottom: 0.5em;
  text-align: left;
  color: #808080;
  font-family: font-serif serif;
  border-bottom: 2px solid #d3d3d3;
}

.menu .menu-item .search-result-list a{
   padding:5px 0px;
}

.search-keyword{
  font-weight:normal;
}


.headband {
    height: 50px;
    background: transparent;
}